#root {
  min-height: 100vh;
}

.navbar-brand img {
  filter: invert(1);
}

.heart-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.heart {
  color: grey;
}

.heart.clicked {
  color: red;
}

.pokemon-card {
  position: relative;
  overflow: hidden;
  height: 250px;
}
